.error-page {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	p,
	h4 {
		color: var(--text-light);
	}

	h4 {
		text-align: center;
		margin-top: 0px;
	}

	.details {
		border-top: 1px solid var(--border-color);
		margin-top: var(--margin-md);
		padding-top: var(--padding-md);
		max-width: 800px;
		text-align: center;
	}
}

.error-page {
	// @dokos: Error page looks bad
	height: 80vh;
}
