.portal-row {
	padding: 1rem 0;

	a {
		color: $body-color;
	}
}

.portal-container {
	max-width: 540px;
	margin: 3rem auto;
	padding: var(--padding-2xl);
	border-radius: var(--border-radius-lg);
	background-color: var(--bg-color);
	/* border: 1px solid var(--border-color); */
	box-shadow: var(--shadow-lg);
}

.portal-items {
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);

	.portal-section {
		padding: 10px;
		border-bottom: 1px solid var(--border-color);

		&:last-child {
			border-bottom: none;
		}
	}
}

.portal-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;

	&.head {
		padding: 0;
		padding-bottom: var(--padding-lg);
		margin-top: -10px;
		border-bottom: none;
	}

	a {
		text-decoration: none;
	}

	.item-link-text {
		padding-left: var(--padding-sm);
		color: var(--text-light);
	}

	.title {
		font-weight: var(--weight-semibold);
		font-size: var(--text-lg);
		color: var(--text-color);

		p {
			font-weight: normal;
			font-size: var(--text-base);
			color: var(--text-light);
		}
	}
}

.icon-md {
	margin-top: -3px;
}

.icon {
	stroke: var(--text-light);
}

.portal-footer {
	margin: var(--margin-md) auto;
	display: flex;
	justify-content: center;
	gap: var(--margin-xl);

	a {
		color: var(--text-light);
		text-decoration: none;
	}
}

// @dokos(below)

.website-list .result,
.portal-calendar,
#datatable,
article {
	padding: var(--padding-sm);
	border-radius: var(--border-radius-md);
}

.web-list-item {
	padding: 0.5rem;
	margin-bottom: -1px;
	background-color: var(--fg-color);
	border-top: 1px solid $border-color;

	&:first-child {
		border-top-left-radius: 0.25rem;
		border-top-right-radius: 0.25rem;
		border-top: None;
	}

	&:hover {
		background-color: #f8faff;
		text-decoration: none;
		a {
			text-decoration: none;
		}
	}
}

@media (max-width: 768px) {
	.web-list-item {
		padding: 0.75rem 0;
	}
}

.more-block {
	float: right;
	margin: 1rem 0;
}

.list-unstyled .card {
	min-width: 18rem;
}

.floating-column-sidebar {
	box-shadow: var(--shadow-sm);
	.sidebar-item a {
		font-size: 1.125rem;
	}
}

.nothing-to-show {
	margin-top: 1rem;
	border: 1px dashed var(--gray-400);
	border-radius: 30px;
}
