.breadcrumb {
	padding-left: 0;
	padding-right: 0;
	background-color: white;
}
/*! This comment will be included even in compressed mode. */
#navbar-breadcrumbs {
	a {
		margin-right: 5px; // @dokos
		&:before {
			// content: #{"/*!rtl:var(--left-arrow-svg);*/"}var(--right-arrow-svg);
			content: "/";
			display: inline-block;
			margin-right: 5px; // @dokos
		}
	}

	li:first-child a:before {
		// no angle before first item
		content: none;
	}

	li.disabled {
		a {
			pointer-events: none;
		}
	}

	li:last-child {
		font-weight: var(--weight-semibold);
	}
}
