@import "../common/css_variables.scss";

:root,
[data-theme="light"] {
	// breakpoints
	--xxl-width: 1440px;
	--xl-width: 1200px;
	--lg-width: 992px;
	--md-width: 768px;
	--sm-width: 567px;
	--xs-width: 0;

	--appreciation-color: var(--green-600);
	--appreciation-bg: var(--green-100);
	--criticism-color: var(--red-600);
	--criticism-bg: var(--red-100);

	// Error colors
	--error-bg: var(--orange-100); // @dokos
	--error-border: var(--orange-400); // @dokos

	// page
	--page-head-height: 45px;
	--page-bottom-margin: 60px;

	// checkbox
	--checkbox-right-margin: var(--margin-xs);
	--checkbox-focus-shadow: var(--focus-default);

	// date-picker
	--date-active-text: var(--gray-100);
	--date-active-bg: var(--gray-900);
	--date-range-bg: var(--subtle-fg);

	// timeline
	--timeline-item-icon-size: 30px;
	--timeline-item-left-margin: var(--margin-lg);
	--timeline-item-bottom-margin: var(--margin-sm);
	--timeline-content-max-width: unset; // @dokos
	--timeline-left-padding: calc(var(--padding-xl) + var(--timeline-item-icon-size) / 2);
	--timeline-badge-color: var(--blue-700); // @dokos
	--timeline-badge-bg: var(--neutral); // @dokos

	// mentions
	--user-mention-bg-color: var(--fg-color);
	--group-mention-bg-color: var(--bg-purple);

	// skeleton
	--skeleton-bg: white; // @dokos

	// progress bar
	--progress-bar-bg: var(--primary);

	// list
	--list-row-height: 30px;
	--list-checkbox-padding: calc((var(--list-row-height) - var(--checkbox-size)) / 2);

	// @include media-breakpoint-down(md) {
	// 	--checkbox-size: 18px;
	// }
}
