{%- set meta = frappe.get_meta(reference_doctype) -%}

{%- set primary_action = primary_action or meta.route -%}
{%- set primary_action_label = primary_action_label or _("View List") -%}
{%- set published_field = meta.is_published_field or "published" -%}
{%- set sort_field = sort_field or meta.sort_field -%}
{%- set limit = (limit or 24) | int -%}
{%- set filters = filters or [] -%}

{%- macro filter_out_none(v) -%}
	{%- if v != "None" -%}
		{{ v }}
	{%- endif -%}
{%- endmacro -%}

{%- set title_field = filter_out_none(title_field or meta.title_field or "") -%}
{%- set image_field = filter_out_none(image_field or meta.image_field or "") -%}
{%- set subtitle_field = filter_out_none(subtitle_field or "") -%}
{%- set footer_field = filter_out_none(footer_field or "") -%}
{%- set description_field = filter_out_none(description_field or "") -%}

{%- for field in [title_field, image_field, subtitle_field, footer_field, description_field] -%}
	{%- if field and not meta.has_field(field) -%}
		{%- set e = frappe.throw(_("Field {0} does not exist on {1}").format(field, _(reference_doctype))) -%}
	{%- endif -%}
{%- endfor -%}

{# Prepare filters #}
{%- set ns = namespace(query_filters=[], method=frappe.get_list) -%}

{%- if meta.has_web_view and published_field -%}
	{% set filt = [reference_doctype, published_field, "=", "1"] -%}
	{% set ns.query_filters = ns.query_filters + [filt] -%}
	{% set ns.method = frappe.get_all -%}
{%- endif -%}

{%- for filt in filters -%}
	{%- if filt.fieldname and filt.value -%}
	{%- set filt = [reference_doctype, filt.fieldname, "=", filt.value] -%}
		{%- set ns.query_filters = ns.query_filters + [filt] -%}
	{%- endif -%}
{%- endfor -%}

{%- set document_names = ns.method(
	reference_doctype,
	filters=ns.query_filters,
	order_by=sort_field,
	limit=limit,
	pluck="name",
) -%}



{%- macro render_card_doc(doc) -%}
	{%- if doc.route -%}<a href="/{{ doc.route |e }}" style="all: inherit; cursor: pointer;">{%- endif -%}
	{{ generic_card_body(doc, align) }}
	{%- if doc.route -%}</a>{%- endif -%}
{%- endmacro -%}

{%- macro do_truncate(s, n=140) -%}
	{# First, convert markdown to HTML #}
	{%- set s = frappe.utils.md_to_html(s) -%}

	{# Then, strip HTML tags #}
	{%- set s = s | striptags -%}

	{%- if n and (s | length) > n + 3 -%}
		{# Finally, truncate the string if needed: truncate n chars, then drop last word (which is maybe truncated) #}
		{%- set s = s[0:n].rsplit(' ', 1)[0] -%}
		{# Add ellipsis #}
		{%- set s = s ~ '…' -%}
	{%- endif -%}

	{{ s }}
{%- endmacro -%}



{%- macro generic_card_body(doc, align) -%}
<article class="card generic-card" style="overflow: hidden; height: 100%;" data-doctype="{{ doc.doctype |e }}">
	{%- set title = title_field and doc[title_field] or '' -%}
	{%- set image = image_field and doc[image_field] or '' -%}
	{%- set subtitle = subtitle_field and doc[subtitle_field] or '' -%}
	{%- set footer = footer_field and doc[footer_field] or '' -%}
	{%- set description = description_field and doc[description_field] or '' -%}
	{%- set extras = doc.generic_document_card or {"footer_html": ""} %}

	{%- if image -%}
	<div class="card-img-container">
		<img class="card-img" src="{{ image |e }}" alt="" style="aspect-ratio: 275 / 210; object-fit: contain;">
		{# No specific alt-text for the image = hide from screen readers #}
	</div>
	{%- endif -%}

	<div class="card-body w-100 pt-4 d-flex flex-column" style="gap: 0.5em;">
		<header>
			{%- if title -%}
			<div role="heading" aria-level="1" class="font-size-lg font-weight-bolder m-0 generic-card__title">
				{{ do_truncate(title, 60) |e }}
			</div>
			{%- endif -%}

			{%- if subtitle -%}
			<div role="heading" aria-level="2" class="font-weight-bold indicator-pill no-indicator-dot primary generic-card__subtitle" style="margin-left: -2px !important; max-width: 100%;">
				<span class="ellipsis">
					{{ do_truncate(subtitle, 135) |e }}
				</span>
			</div>
			{%- endif -%}
		</header>

		{%- if description -%}
		<div class="generic-card__description small" style="display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient: vertical;overflow:hidden;">
			{{ do_truncate(description, desc_length) | e }}
		</div>
		{%- endif -%}

		<footer class="generic-card__footer text-muted small" style="margin-top: auto;">
			{{ do_truncate(footer, 80) |e }}
			{{ (extras.footer_html or "") | safe }}
		</footer>
	</div>
</article>
{%- endmacro -%}



{# Render the cards #}
<div class="section-with-cards item-card-group-section">
	<div class="item-group-header d-flex justify-content-between mb-4">
		<div class="title-section">
			{%- if section_title -%}
			<h2 class="generic-card__section-title section-title m-o">
				{{ section_title |e }}
			</h2>
			{%- endif -%}

			{# {%- if subtitle -%}
			<p class="generic-card__section-subtitle section-description">
				{{ subtitle |e }}
			</p>
			{%- endif -%} #}
		</div>
		<div class="primary-action-section" style="margin-top: auto;">
			{%- if primary_action -%}
			<a href="{{ primary_action }}" class="btn btn-primary pull-right">
				{{ primary_action_label |e }}
			</a>
			{%- endif -%}
		</div>
	</div>

	<div style="display: flex; flex-wrap: wrap; gap: 1em; display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); grid-template-rows: 1fr; align-items: stretch; justify-items: stretch;">
		{%- for name in document_names -%}
		{%- set doc = frappe.get_doc(reference_doctype, name) -%}
		{{ render_card_doc(doc) }}
		{%- endfor -%}
	</div>

	{%- if primary_action and (document_names | length) >= limit -%}
	<div class="text-center m-4">
		<a href="/{{ primary_action |e }}" class="btn btn-primary btn-lg">
			{%- if primary_action == meta.route -%}
				{{ _("View All") }}
			{%- else -%}
				{{ primary_action_label |e }}
			{%- endif -%}
		</a>
	</div>
	{%- endif -%}
</div>
