<div>
    <div style="width: 600px;  margin: 10px auto;">
        {{ message }}
    </div>
</div>

{% if published and send_webview_link %}
<div style="font-size: 12px; line-height: 20px;">
	<div>
		<a style="color: #687178; text-decoration: underline;" href="/newsletters/{{ name }}" target="_blank">{{ _("View this email on the web") }}</a>
	</div>
</div>
{% endif %}
