{% macro render_blog_post(post, is_full_width=False, align="Left") %}
<a href="/{{ post.route or '#' }}" class="card blog-card" style="overflow: hidden;">
	{% if post.meta_image %}
		<div class="card-img-container">
			<img class="card-img" src="{{ post.meta_image }}" alt="{{ post.title }}">
		</div>
	{% else %}
		<div class="card-img-top no-image">
			<p class="text-center">{{ post.title }}</p>
		</div>
	{% endif %}

	{{ blog_card_body(post, align) }}
</a>
{% endmacro %}

{%- macro blog_card_body(post, align) -%}
<div class="card-body w-100 pt-4 d-flex flex-column">
	<div>
		<div class="text-muted small text-uppercase">
			<span>{{ _(post.blog_category) }}</span>
		</div>
		<h5 class="mt-1"><span class="text-dark">{{ post.title or "" }}</span></h5>
		<p class="post-description text-muted">{{ post.intro or "" }}</p>
	</div>
	<div class="blog-card-footer">
		<div class="text-muted">
			<div class="small">
				{{ frappe.format_date(post.created) }}
				{% if post.read_time %} &middot; {{ post.read_time }} {{ _('min read') }} {% endif %}
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{% set primary_action = "/blog" %}

{% if not primary_action_label %}
{% set primary_action_label = _("View List") %}
{% endif %}

<div class="section-with-cards item-card-group-section">
	<div class="item-group-header d-flex justify-content-between">
		<div class="title-section">
			{%- if title -%}
			<h2 class="section-title">
				{{ title }}
			</h2>
			{%- endif -%}
			{%- if subtitle -%}
			<p class="section-description">
				{{ subtitle }}
			</p>
			{%- endif -%}
		</div>
		<div class="primary-action-section">
			{%- if primary_action -%}
			<a href="{{ primary_action }}" class="btn btn-primary pull-right">
				{{ primary_action_label }}
			</a>
			{%- endif -%}
		</div>
	</div>

	<div style="display: flex; flex-wrap: wrap; gap: 1em; display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); grid-template-rows: 1fr; align-items: stretch; justify-items: stretch;">
		{% set ns = namespace(query_filters=[['Blog Post', 'published', '=', '1']]) %}
		{%- for filter in filters -%}
			{% if filter.fieldname and filter.value %}
				{% set new_filter = ['Blog Post', filter.fieldname, '=', filter.value] %}
				{%- set ns.query_filters = ns.query_filters + [new_filter] -%}
			{% endif %}
		{% endfor %}
		{%- set blog_list = frappe.get_all(
			'Blog Post',
			ns.query_filters,
			order_by='published_on asc',
			limit=limit if limit else 24
		) -%}
		{%- for post in blog_list: -%}
			{%- set post = frappe.get_doc('Blog Post', post) -%}
			{{ render_blog_post(post, is_full_width=True, align='Center') }}
		{%- endfor -%}
	</div>

	{%- if primary_action and (blog_list | length) >= 24 -%}
	<div class="text-center m-4">
		<a href="{{ primary_action }}" class="btn btn-primary btn-lg">
			{{ primary_action_label }}
		</a>
	</div>
	{%- endif -%}
</div>