{% set overlay_alpha = (overlay_opacity | default(50)) / 100 %}
<div class="hero-with-background-image" style="background-image: linear-gradient(rgba(12, 11, 10, {{ overlay_alpha }}), rgba(12, 11, 10, {{ overlay_alpha }})), url('{{ image | replace('"', "%22") | replace("'", "%27") }}');">
	<div class="hero-content col-12 col-md-6">
		<div>
			{%- if title -%}
			<h1 class="hero-title">
				{{ title or "" }}
			</h1>
			{%- endif -%}
			{%- if subtitle -%}
			<p class="hero-subtitle">
				{{ subtitle or "" }}
			</p>
			{%- endif -%}
			<div>
				{%- if primary_action -%}
				<a class="btn btn-lg btn-primary" href="{{ primary_action }}">
					{{ primary_action_label or "" }}
				</a>
				{%- endif -%}
				{%- if secondary_action -%}
				<a class="btn btn-lg btn-primary-light" href="{{ secondary_action }}">
					{{ secondary_action_label or "" }}
				</a>
				{%- endif -%}
			</div>
		</div>
	</div>
</div>
