:root {
	--border-radius-xs: 2px;
	--border-radius-tiny: 2px;
	--border-radius-sm: 4px;
	--border-radius: 6px;
	--border-radius-md: 8px;
	--border-radius-lg: 12px;
	--border-radius-xl: 16px;
	--border-radius-2xl: 20px;
	--border-radius-full: 999px;
}
