{% extends "templates/web.html" %}

{% block title %}{{ _("Error") }}{% endblock %}

{%- block head_include %}
<link rel="stylesheet" href="/assets/frappe/css/hljs-night-owl.css">
{% endblock -%}

{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block page_content %}
<style>
	body {
		background-color: var(--subtle-accent);
		font-size: var(--text-base);
	}

	.error-content {
		text-align: left;
		margin-top: var(--margin-md);
		border-radius: 8px;
		background-color: #f5f7fa;
		max-height: 400px;
		overflow: auto;
	}

	code::-webkit-scrollbar {
		display: none;
	}
</style>

<div class="error-page">
	<div>
		<h4>
			{{ title or _("Server Error") }}
		</h4>
		<div class="details">
			<p>{{ http_status_code }}: {{ message }}</p>

			<button class="btn btn-xs btn-secondary text-muted small view-error" >
				{{ _("Show Error") }}
			</button>

			<div class="error-content hidden">
				<pre><code>{{ error }}</code></pre>
			</div>

		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<script>
	{# @dokos #}
	let toggle_button = document.querySelector(".view-error");
	let error_log = document.querySelector(".error-content");

	toggle_button.addEventListener('click', () => {
		if (error_log.classList.contains("hidden")) {
			toggle_button.innerHTML = `{{ _("Hide Error") }}`;
			error_log.classList.remove("hidden");
		} else {
			toggle_button.innerHTML = `{{ _("Show Error") }}`;
			error_log.classList.add("hidden");
		}
	})
</script>
{% endblock %}
