.dodock {
	// TODO: frappe/public/scss/desk/global.scss
	// TODO: frappe/public/scss/desk/frappe_datatable.scss
	// TODO: frappe/public/scss/common/modal.scss
	// TODO: frappe/public/scss/common/icons.scss
	// TODO: frappe/public/scss/common/form.scss
	// TODO: frappe/public/scss/common/css_variables.scss
	// TODO: frappe/public/scss/common/grid.scss

	// style: Common to both themes
	--border-radius: 4px;
	--btn-height: 28px;
	--btn-primary: var(--primary);
	--btn-shadow: var(--shadow-xs), var(--shadow-sm);
	--navbar-bg: var(--fg-color);

	// style: Light theme
	&[data-theme="light"] {
		--bg-color: var(--blue-gray-100);
		--card-bg: hsl(220, 0%, 99%);
		--control-bg: var(--blue-gray-100);
		--fg-color: hsl(220, 0%, 99%);
		--input-base-shadow: inset 0 0 0 1px var(--gray-400), 0 1px 0 0px var(--gray-200);
		--primary: hsl(220, 100%, 65%);
		--timeline-badge-color: var(--blue-700);
		--timeline-badge-bg: var(--blue-200);
	}

	// style: Dark theme
	// &[data-theme="dark"] {
	// 	--bg-color: hsl(220, 20%, 5%);
	// 	--card-bg: hsl(220, 40%, 5%);
	// 	--control-bg: hsl(220, 40%, 6%);
	// 	--fg-color: hsl(220, 40%, 5%);
	// 	--input-base-shadow: inset 0 0 0 1px var(--gray-900), 0 1px 0 0px var(--gray-900);
	// 	--primary: hsl(220, 70%, 50%);
	// 	--timeline-badge-color: var(--blue-400);
	// 	--timeline-badge-bg: var(--neutral);
	// }

	// fix(form): Fix alignment of custom buttons in the form top bar
	.custom-actions > div,
	.custom-actions > button {
		margin-top: 0px !important;
		margin-bottom: 0px !important;
	}

	// style(list): Custom style for the restricted access pseudo-button
	.restricted-button {
		color: var(--text-on-yellow);
		background-color: var(--bg-yellow);
		box-shadow: inset 0 0 0 1px var(--text-on-yellow);
		margin: var(--padding-xs) 0;
	}

	// style(workspace): Stretch widgets to fill their column
	.widget .widget-head {
		max-width: 100%;
	}

	// fix(workspace): Summary card border contrast
	.widget.summary-card {
		border-color: var(--border-color);
	}

	// style(workspace): Hide arrow icon after every link, too noisy
	.codex-editor
		.widget:is(.shortcut-widget-box, .links-widget-box)
		svg:has(> use[href="#icon-arrow-up-right"]),
	.codex-editor
		.widget:is(.shortcut-widget-box, .links-widget-box)
		svg:has(> use[href="#es-line-arrow-up-right"]) {
		display: none;
	}

	// fix(workspace): Inherit font in dashboard charts made with frappe-charts
	.chart-container {
		font-family: inherit;
	}

	// style(page): Override background color
	.page-head {
		background: var(--fg-color);
	}

	// style(form, list): Increase width of sidebar, add border, add background
	.layout-main-section-wrapper {
		min-width: 0px;
		flex-grow: 1; // Fix report view
	}
	.layout-side-section {
		width: auto !important;
		min-width: auto !important;
		border-right: 1px solid var(--border-color);
		height: auto !important; // Fix double overflow
		background: var(--fg-color);
	}
	.layout-side-section > * {
		background: var(--fg-color);
		// min-width: 220px;
		// max-width: 220px;
		width: 220px;
	}

	// style(form): Move sidebar to the right
	.layout-side-section:has(> .form-sidebar) {
		order: 3;
	}

	// style(form): Add overscroll to form page
	.form-footer {
		padding-bottom: 33vh;
	}

	@include media-breakpoint-up(md) {
		// style(form): Add 16px padding on big screens
		.section-body,
		.section-head {
			max-width: calc(100% - 32px) !important;
		}
	}

	@include media-breakpoint-down(md) {
		--checkbox-size: 16px;
	}

	// fix(list): Fix checkboxes appearing above header, keep filter dropdowns above all
	.frappe-list .result {
		// Create a new stacking context
		position: relative;
		z-index: 0;
		background-color: var(--fg-color);

		// Move header above
		.list-row-head {
			z-index: 1;
		}
	}

	// style(grid): Don't force grid to take more space than needed
	.form-grid {
		min-height: unset;
	}

	// style(grid): Don't show grayed out box when empty
	.form-grid,
	.grid-empty,
	.grid-body,
	.grid-heading-row,
	.grid-heading-row .grid-row {
		background: none !important;
	}

	.grid-heading-row .grid-row {
		background-color: var(--control-bg) !important;
		font-weight: var(--weight-medium);
	}

	// style(grid): Don't round heading row
	.grid-heading-row .grid-row:first-child:last-child {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	// style(grid): Increase border contrast
	.form-grid {
		border-radius: var(--border-radius);
		border: 1px solid var(--border-color);
		padding-bottom: 1px;
		// box-shadow: var(--input-base-shadow);
		// padding: 1px 1px 2px 1px;
	}
	.grid-body,
	.grid-body .grid-row:last-child {
		border-bottom-left-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
	}
	.grid-body .grid-row:last-child {
		border-bottom-width: 0px;
	}
	.grid-row {
		background-color: transparent;
	}
	.grid-row:focus-within {
		background-color: var(--subtle-fg);
	}

	// style: Ensure minimal contrast for text
	.text-extra-muted {
		color: var(--text-light) !important;
	}

	// style(input): Increase font weight for labels
	.control-label {
		font-weight: var(--weight-medium);
	}
	.checkbox .label-area {
		font-weight: var(--weight-medium);
	}

	// style(input): Increase asterisk contrast on required inputs
	.frappe-control .control-label.reqd::after,
	.grid-heading-row .static-area.reqd::after {
		content: " ∗";
		font-weight: bold !important;
		color: var(--red-500);
	}

	// style(form): Remove extra border on form image
	.form-sidebar .sidebar-image-section .sidebar-standard-image {
		border-width: 0px;
	}

	// style(form): Placeholder image on document doesn't need to be a square
	.form-sidebar .sidebar-image-section .sidebar-standard-image .standard-image {
		padding: 25% 0;
	}

	// style(input): Replace border with common input shadow for Text Editor fields
	.frappe-control[data-fieldtype="Text Editor"]
		.form-group
		.control-input-wrapper
		.control-input {
		box-shadow: var(--input-base-shadow);
		padding: 1px; // inset box shadow
		border-radius: var(--border-radius);

		.ql-container {
			border-top-color: transparent;
		}
		.ql-toolbar,
		.ql-container {
			border-top-color: transparent;
			border-left-color: transparent;
			border-right-color: transparent;
		}
	}

	// style(form): Avoid size change of the like counter when liking a document
	.like-action {
		font-variant-numeric: tabular-nums;
	}

	// fix(layout): Add back the max-width constraint on images
	img {
		max-width: 100%;
		height: auto;
	}

	// fix(form): Keep form action buttons square (e.g. print, prev, next)
	.page-actions .btn.icon-btn {
		padding: 4px;
	}

	// fix(page): Copy style from .standard-actions and .custom-actions on page
	.page-actions {
		.view-actions,
		.standard-actions,
		.custom-actions {
			display: flex;
			align-items: center;
		}
	}

	// style(grid): Make grid layout tighter
	--grid-row-height: 34px;
	--grid-padding: 7px 8px 6px 8px;
	.form-grid {
		--checkbox-size: 14px;
	}
	.row-check input {
		top: 1px;
		margin: 0px !important;
	}

	// style(grid): Make row header smaller
	.grid-heading-row .grid-row :is(.row-check, .row-index, .col) {
		height: 24px;
		padding: 3px;

		// style(grid): Make row header bolder
		font-weight: var(--weight-medium);
	}

	// style(button): Make buttons a little bit more rounded than inputs
	.btn,
	.btn-group {
		--border-radius: 5px;
	}

	// style(input): Make checkbox square
	input[type="checkbox"] {
		border-radius: 2px;
	}
	input[type="checkbox"]:not(:disabled) {
		box-shadow: 0 1px 0 0px var(--control-bg-on-gray);
		border-color: var(--gray-600);
	}

	// style: Change style for frappe-card
	.frappe-card {
		border: 0px solid transparent !important;
		border-radius: 2px !important;
		box-shadow: var(--shadow-sm) !important;
	}

	// fix(list): Make sure that empty list is still high enough to avoid clipping Select fields
	.frappe-list > .result {
		min-height: 400px;
	}

	.body-sidebar-container {
		// fix(app-switcher): Disable default transition on links (a, .badge)
		.app-switcher-dropdown {
			transition: none;
		}

		// fix(app-switcher): Don't change layout on width change
		@include media-breakpoint-up(md) {
			&:not(.expanded) {
				.body-sidebar {
					position: absolute !important;
				}
				.body-sidebar-placeholder {
					display: block !important;
					min-width: 50px !important;
					max-width: 50px !important;
				}
			}
		}

		// fix(app-switcher): Click outside to close sidebar on mobile
		@include media-breakpoint-down(sm) {
			&.expanded .overlay {
				display: none !important; // Remove default overlay (inert)
				position: fixed; // Don't change parent width because of overlay
			}
			.collapse-sidebar-link::after {
				display: block;
				position: fixed;
				content: "";
				z-index: -1;
				top: 0;
				bottom: 0;
				right: 0;
				width: calc(100vw - 220px); // Offset to only hide a portion of the screen
				background-color: black;
				opacity: 0.4;
				transition: opacity 200ms ease;
			}
			&:not(.expanded) .collapse-sidebar-link::after {
				opacity: 0;
				pointer-events: none;
				width: 100vw;
			}
		}

		// style(app-switcher): Force icon size because .icon-md overrides size
		.sidebar-item-icon svg {
			width: 16px !important;
			height: 16px !important;
		}

		// style(app-switcher): Disable hover animation, fix width
		.app-switcher-dropdown {
			left: 8px !important;
			padding: 0px !important;
			width: 100%;
		}

		// style(app-switcher): Ensure dropdown fills the available space
		// .app-switcher-menu {
		// 	position: absolute;
		// 	top: 44px;
		// 	width: auto;
		// }

		// style(app-switcher): Increase text size of current app item
		.app-switcher-dropdown .sidebar-item-label {
			line-height: 1.5rem;
			font-size: 1rem;
			font-weight: 600;
		}

		// style(app-switcher): Increase size of current app icon
		// fix(app-switcher): Avoid logo flicker on transition
		.app-switcher-dropdown .app-logo {
			width: 32px;
			height: 32px;
			max-width: none;
		}

		// style(app-switcher): Change color of bottom buttons
		.edit-sidebar-link,
		.close-sidebar-link {
			color: inherit !important;
		}

		// style(sidebard): Change style of active sidebar item
		// .active-sidebar,
		// .standard-sidebar-item:hover {
		// 	background: var(--fg-color);
		// 	box-shadow: var(--shadow-xs);
		// 	border-radius: var(--border-radius-md);
		// }

		.body-sidebar {
			padding-right: 0 !important;
			padding-left: 4px !important;
		}
		.body-sidebar-top {
			overflow-y: scroll !important;
			width: 100% !important;
		}
		.sidebar-items {
			& > .standard-sidebar-section {
				margin-top: 8px !important;
			}
			.item-anchor {
				gap: 3px;
			}
			.sidebar-item-icon,
			.drop-icon {
				padding: 0px !important;
				width: 27px !important;
				height: 27px !important;
				text-align: center;
				line-height: 25px;
				font-size: 25px;
			}
			.sidebar-item-label {
				// letter-spacing: -0.01em;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			.sidebar-item-icon {
				background-color: white;
				border-radius: 7px;
			}
		}
	}

	// fix(input): Hide label with it is empty
	.frappe-control .form-group .clearfix:has(.control-label:empty) {
		display: none;
	}

	// style(list): Make progress bar round
	.progress {
		border-radius: 999px;
	}

	// style(list): Make avatar for assignments tighter
	.avatar-group.overlap {
		.avatar-small + .avatar-small {
			margin-left: -16px;
		}
	}

	// style(workspace): Make title aligned with icon
	.workspace-icon {
		height: 24px !important;
		width: 24px !important;
	}
	.workspace-title {
		line-height: 28px;
	}

	// style: Add "A4 page" style shadow and sizing, unless full-width/small screen
	@media (min-width: 1200px) {
		--page-max-width: 1100px;

		[data-page-route="Workspaces"] .layout-main-section {
			border-radius: 3px !important;
			margin: var(--padding-xl) auto;
			max-width: var(--page-max-width);
			box-shadow: var(--shadow-2xl) !important;
		}
		body:not(.full-width) .std-form-layout > .form-layout > .form-page {
			border-radius: 3px !important;
			margin: var(--padding-xl) auto;
			box-shadow: var(--shadow-2xl) !important;
			max-width: var(--page-max-width);
			border: 0px solid transparent;
		}
		body:not(.full-width)
			.form-tabs-list:not(.form-tabs-sticky-up)
			.nav-item:first-child
			> .nav-link {
			border-top-left-radius: 3px !important;
		}
		body:not(.full-width)
			.form-tabs-list:not(.form-tabs-sticky-up)
			.nav-item:last-child
			> .nav-link {
			border-top-right-radius: 3px !important;
		}
	}

	// style(breadcrumbs): Make breadcrumbs text bigger
	#navbar-breadcrumbs {
		@include get_textstyle("md", "medium");
	}

	// style(list): Add standard button shadow to "page length"/"more" buttons
	.list-paging-area .btn-group,
	.footnote-area .btn-group {
		border-width: 0px;
		box-shadow: var(--btn-shadow);
	}

	// style(list): Remove extra padding in footer
	.layout-main-list .list-paging-area,
	.layout-main-list .footnote-area {
		padding: var(--padding-sm);
	}

	// style(list): Make "page length"/"more" buttons smaller
	.list-paging-area .btn {
		padding: 0.25em 0.5em;
		@include get_textstyle("sm", "medium");
	}

	// style(list): Make list rows appear bigger
	--list-row-height: 32px;
	.list-row-container {
		padding: 2px 0px;
		& > .list-row {
			padding: var(--padding-xs) 0px;
		}
	}

	// style(form): Make user action text bolder
	.user-action-row {
		@include get_textstyle("sm", "bold");
	}

	// style(worksapce): Add overscroll to workspace page
	[data-page-route="Workspaces"] {
		.layout-main-section-wrapper::after {
			content: "";
			display: block;
			height: var(--page-bottom-margin);
			width: 100%;
			opacity: 0;
		}
	}

	// style(workspace): Adjust typography and text color
	[data-page-route="Workspaces"] .ce-block {
		.ce-header b {
			font-weight: var(--weight-regular) !important;
		}
		.h4 {
			@include get_textstyle("lg", "regular");
			font-weight: var(--weight-semibold);
			letter-spacing: .01em;
		}
		.h5 {
			font-weight: normal;
		}
	}

	// fix(workspace): Ensure minimal height
	[data-page-route="Workspaces"] .codex-editor {
		min-height: calc(100vh - 300px);
		// min-height: calc(100vh - 2 * var(--page-head-height) - 2 * var(--padding-xl));
	}

	// fix(workspace): Don't add stroke to graphs
	.codex-editor .frappe-chart path {
		stroke: none;
	}

	// style(workspace): Change style of check mark for completed onboarding steps
	.onboarding-widget-box {
		.step-index {
			&.step-complete {
				.icon use {
					stroke: var(--fg-color);
				}
			}
		}
	}

	// style(workspace): Add hover style to link widget, make text bolder
	.links-widget-box {
		.widget-head .widget-label .widget-title {
			@include get_textstyle("base", "bold");
		}
		.link-item:hover {
			background-color: var(--fg-hover-color);
			text-decoration: underline;
		}
	}

	// style(form): Ensure that sections are not too big
	.form-section.card-section,
	.form-dashboard-section {
		padding: var(--padding-sm) 0px;
	}

	// style(navbar): Make navbar smaller
	--navbar-height: 42px;
	.navbar {
		height: var(--navbar-height);
	}
	.search-bar .awesomplete input {
		--input-height: 30px;
		height: var(--input-height);
		&:focus {
			color: var(--text-color);
		}
	}

	// style(navbar): Remove extra spacing between search input and bell icon
	.dropdown-notifications {
		margin-left: 0px;
	}

	// style: Make .page-head bigger
	--page-head-height: 52px;

	// style(icons): Make "close" icon thinner
	#icon-close,
	#icon-close-alt {
		stroke-width: 0.25px;
		stroke: var(--invert-neutral);
		fill: var(--invert-neutral);
	}

	// style(list): Sticky header
	.list-row-container {
		outline: none;
		padding: var(--padding-xs) 0px;

		&.list-row--unsaved {
			--list-row-notch-color: var(--alert-text-danger);
		}

		&.list-row--unsaved {
			position: relative;

			// .list-row {
			// 	background-color: color-mix(in srgb, transparent 95%, var(--list-row-notch-color));
			// }

			& > ::after {
				display: block;
				content: "";
				position: absolute;
				top: var(--padding-xs);
				left: 0px;
				bottom: var(--padding-xs);
				width: 3px;
				border-radius: 3px;
				background-color: var(--list-row-notch-color);
			}
		}
	}

	.list-row {
		padding-right: 15px;

		// Avoid overflow issues with long text
		.list-row-col {
			max-height: var(--list-row-height);
		}

		// Increase space for main columns, reduce space taken by likes, comments, assignments, etc.
		.level-right {
			flex: 0 1 160px;
		}

		// Custom style for comment count
		.list-row-activity {
			gap: var(--margin-sm);

			.comment-count {
				min-width: 35px;
				margin-bottom: -2px;
				margin-left: -8px;
				padding: 0px 5px 0px 5px;

				& > .es-icon {
					margin-right: 3px;
				}

				&.unseen {
					border-radius: 99px;
					background-color: var(--bg-blue);
					color: var(--text-on-blue);
					--icon-stroke: var(--text-on-blue);
					--icon-fill: var(--bg-blue);
				}

				&.zero {
					opacity: 0.2;
				}
			}

			.frappe-timestamp {
				text-align: center;
			}

			// Tighter design
			.list-assignments,
			.list-actions {
				margin-right: 0px;
			}
		}
		// .select-like {
		// 	height: var(--list-row-height);
		// 	padding-left: 11px;
		// }
	}

	// style(list): Sticky header with custom style
	.list-row-head {
		background-color: var(--list-header-bg);
		border-radius: var(--border-radius-sm);
		height: 30px;

		padding: 8px 0px 8px 0px;
		--list-gap-size: var(--padding-xs);
		position: sticky;
		top: var(--list-gap-size);
		box-shadow: 0px 1px 3px -2px var(--list-header-shadow-color),
			0px calc(-1 * var(--list-gap-size)) 0px var(--list-gap-size) var(--list-body-bg);
		border-bottom: none;
		margin-top: var(--list-gap-size);

		& .list-row-col > span {
			color: var(--list-header-fg) !important;
			text-shadow: 0px 0px 2px var(--list-header-contrast);
			font-weight: 600;
		}
	}

	.list-row-col {
		a {
			color: var(--text-color);
		}
	}

	.list-liked-by-me,
	.list-row-like {
		margin-bottom: 0px;
		padding-right: var(--padding-sm);

		& :is(.icon, .es-icon) {
			margin-top: -2px;
		}
	}

	input.list-row-checkbox,
	input.list-header-checkbox {
		z-index: auto;
	}

	.page-form .standard-filter-section {
		.form-control {
			&::placeholder {
				color: var(--gray-500);
			}
		}
		// .filter-selector .btn-group {
		// 	.filter-label {
		// 		display: inline-block;
		// 		font-weight: 600;
		// 		color: var(--text-color);
		// 		background-color: var(--control-bg);
		// 		min-width: 21px;
		// 		border-radius: 22px;
		// 	}
		// }

		.filter-button.btn-primary-light {
			--btn-shadow: 0 0 0 0px transparent !important;
		}
	}

	.list-selection-buttons {
		display: flex;
		gap: 0.5em;
	}

	// fix(page): Reduce padding for mobile
	.page-actions.col {
		padding-inline-start: 0px;
		flex-grow: 0;
	}
	.page-title.col {
		padding-inline-end: 0px;
	}

	// fix(list): Align icons in list view
	.view-actions .dropdown-menu {
		margin-inline-start: -4px;

		.menu-item-label {
			font-weight: 500;
		}

		.menu-item-icon {
			margin-inline-end: 1px;
		}
	}

	// style(page): Don't need to truncate more because of .ellipsis
	.page-title .title-area .title-text {
		max-width: 48vw;
	}

	// style(navbar): Use shadow instead of border
	.navbar {
		box-shadow: var(--shadow-sm);
		background: var(--navbar-bg);
		border-bottom: none;
	}
	.navbar .nav-item {
		line-height: inherit;
	}
	.navbar-brand.navbar-home:focus-visible img {
		outline: 2px solid currentColor;
	}

	.navbar-brand {
		margin: 0px;
		img {
			display: inline-block;
			height: 32px;
			max-width: 150px;
			max-height: 32px;
		}
	}

	.nav-link.nav-avatar {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	@media (max-width: 767px) {
		// Tighter design
		.layout-main-section {
			border-left-color: transparent !important;
			border-right-color: transparent !important;
			// margin-inline: -8px;
		}
		.form-section {
			padding-inline: 0px;
		}

		// Fix for grids
		.layout-main-section-wrapper {
			overflow-x: clip;
		}
		.form-grid .row-index {
			display: none !important;
		}

		.layout-side-section {
			max-width: 0px;
		}
	}

	.tooltip-content {
		font-weight: bold;
		display: block !important;
		user-select: none;
	}

	.custom-actions,
	.inner-group-button {
		button {
			padding: 0.2rem 0.5rem;
		}
	}

	.frappe-control.has-error {
		.form-control {
			border-color: var(--error-border);
			background-color: var(--error-bg);
			.input-with-feedback {
				background-color: var(--error-bg);
			}
		}
	}
	.form-dashboard-section {
		h6 {
			color: var(--blue-400);
		}

		.btn-new {
			--icon-stroke: var(--yellow-500);
		}

		.section-head {
			color: var(--yellow-500);
		}
	}

	.control-label {
		margin-bottom: 4px;
	}

	.column-label {
		font-weight: 500;
	}

	.comment-box {
		.comment-input-container {
			.frappe-control {
				.ql-editor {
					background-color: var(--fg-color) !important;
				}
			}
		}

		.btn-comment {
			margin-top: 0px;
		}

		.btn-comment:is(.disabled, [disabled]) + span {
			opacity: 0;
		}
	}

	.form-links {
		.document-link {
			.document-link-badge,
			.report-link-badge {
				border-radius: var(--border-radius);
				// background-color: var(--control-bg);
				border: 1px solid var(--border-color);

				.count {
					color: var(--blue-500);
				}
			}
			.btn-new,
			.open-notification {
				border: 1px solid var(--border-color);
				background-color: transparent;
			}
			.btn-new {
				&:hover {
					background-color: var(--bg-color);
				}
			}
		}
	}
	.inline-graph {
		.inline-graph-half {
			.inline-graph-bar-inner.warn {
				background-color: var(--orange-500);
			}
		}
	}
	// .form-message {
	// 	margin-bottom: var(--margin-md);
	// 	box-shadow: var(--card-shadow);
	// }

	.avatar-group {
		&.overlap {
			.avatar-small + .avatar-small {
				margin-left: -12px;
			}
		}

		&:hover.overlap {
			.avatar:not(:first-child) {
				margin-left: var(--margin-xs);
			}
		}
	}

	html,
	body {
		min-height: 100%;
		height: auto;
		font-feature-settings: "cv02", "cv03", "cv04", "cv05", "cv07", "cv10";
	}

	.pull-left {
		float: left;
	}

	.tabular-nums {
		font-variant-numeric: tabular-nums;
		letter-spacing: 0px;
	}

	.awesomplete {
		& > [role="listbox"] {
			background-color: var(--fg-color);
			z-index: 1051;
			transition-duration: 100ms;
		}
	}

	.widget-footer {
		@include get_textstyle("sm", "regular");
	}
	.widget-subtitle {
		@include get_textstyle("xs", "regular");
	}

	// style: Hide Print Designer CTA
	#page-print .page-actions > .custom-actions > span > a[href^="/app/print-designer"] {
		display: none;
	}

	// fix: Full height report broken for some reason
	.report-view .result > .datatable-wrapper {
		&,
		.datatable {
			height: 100% !important;
		}
		.dt-scrollable {
			height: calc(100% - 80px) !important;
		}
	}

	.form-sidebar {
		.sidebar-section {
			.form-sidebar-items {
				color: var(--text-neutral);
				padding-bottom: 0px;

				.sidebar-label {
					margin-bottom: 0px;
					margin-right: auto;
				}

				& > button:last-of-type {
					// + button
					--icon-stroke: var(--text-color);
					margin-left: 4px;
					margin-right: 0px;
					padding: 0px !important;
					position: relative;
					transition: all 0.1s ease;

					&:hover:not(:active),
					&:focus-visible {
						--icon-stroke: var(--text-on-blue);
						scale: 1.2;
					}
				}

				a {
					// Looks weird and has bad contrast
					color: inherit;
				}
			}
		}
		.form-sidebar-stats {
			li:first-child {
				@include flex(flex, space-between, flex-start, row);
				gap: var(--margin-md);
			}
		}

		.sidebar-image {
			width: 100%;
		}

		.sidebar-image-actions {
			z-index: 6;
		}

		.sidebar-label {
			margin-bottom: var(--margin-sm);
			text-transform: none;
			color: var(--text-color);
			cursor: pointer;

			.icon,
			.es-icon {
				margin: 0;
				margin-right: var(--margin-xs);
				--icon-stroke: var(--text-muted);
			}
		}

		.sidebar-item-icon[item-color]:not([item-color=""]) {
			.fonticon {
				--icon-stroke: var(--icon-fill);
			}
		}
	}

	.list-sidebar {
		.list-sidebar-button {
			color: inherit;
			box-shadow: var(--shadow-inset);
		}

		// .dropdown-menu.has-selected {
		// 	.dropdown-item {
		// 		padding-left: initial;
		// 		padding-right: initial;
		// 	}
		// }

		.list-filters {
			input:not([data-fieldtype="Check"]) {
				background: var(--fg-color);
			}
		}
	}

	.attachment-row,
	.form-tag-row {
		.data-pill {
			cursor: default !important; // not interactable
		}
	}
	.form-tag-row {
		.data-pill {
			background-color: var(--fg-color);
			border-radius: var(--border-radius-full);
			padding: var(--padding-xs) 2px var(--padding-xs) var(--padding-sm);
			border: 1px solid var(--border-color);
		}
	}
	.explore-link {
		margin-top: 0px;
	}
	.show-all-btn {
		margin-bottom: var(--margin-sm);
	}

	.tags-input {
		background-color: inherit !important;
	}

	.comparison-message {
		color: var(--text-light);
		margin-left: var(--margin-sm);
		line-height: 1;
		@include get_textstyle("xs", "regular");
	}

	.card-stats {
		align-items: baseline;
	}

	[data-page-route="Workspaces"] .codex-editor .widget.edit-mode .widget-head {
		height: auto !important;
	}

	// style: Don't show duplicate context menu dividers
	.dropdown-divider + .dropdown-divider {
		display: none;
	}

	// style: Bigger awesomplete to show more results, more compact rows
	.awesomplete > [role="listbox"] {
		max-height: min(60vh, 450px);

		& > [role="option"] {
			padding: 5px 6px !important;
			line-height: 1.35 !important;
		}
	}

	.frappe-control {
		.link-btn {
			// @dokos
			background-color: transparent;
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
			// leave margin for inset shadows if needed
			top: 2px !important;
			right: 2px !important;
			bottom: 2px !important;

			height: auto;
			display: flex;
			pointer-events: none;

			&:is(a, button),
			& > a,
			& > button {
				pointer-events: all;
				height: 100%;
				min-width: 1.6em;
				background-color: var(--control-bg);

				&.btn-clear {
					min-width: 1em;
				}

				display: flex;
				justify-content: center;
				align-items: center;

				transition: visibility 150ms;

				.icon {
					transition: all 300ms ease;
					transition-property: color, transform, opacity;
					transform: none;
					color: var(--text-light);
				}

				&:hover:not(:active) > .icon {
					color: var(--primary);
				}

				@at-root .dodock-hide-clear-button-unless-focused, // Hide clear button unless input is focused
				&[disabled] {
					pointer-events: none;
					visibility: hidden;

					.icon {
						transform: translateX(9px) !important;
						opacity: 0;
						transition-duration: 150ms !important;
					}
					&.btn-clear .icon {
						transform: scale(0) !important;
					}
				}
			}
		}
	}

	.link-field > .awesomplete:not(:focus-within) + .link-btn > .btn-clear:not(:focus) {
		@extend .dodock-hide-clear-button-unless-focused;
	}

	.editable-row .frappe-control .link-btn {
		top: 0px !important;
		right: 0px !important;
		bottom: 0px !important;

		&:is(a, button),
		& > a,
		& > button {
			min-width: 1em; // Make buttons smaller
			background-color: var(
				--bg-color
			); // Use bg-color because controls are transparent in grids
		}
	}

	// feat: Form grid styles
	.form-grid {
		min-height: 0px;
	}
	.grid-row {
		padding: 0px;
	}
	.grid-heading-row {
		color: var(--text-muted);
		background-color: var(--subtle-fg);
		height: unset;

		&.with-filter {
			height: unset;
		}
		.filter-row {
			background-color: var(--subtle-fg);
		}
		.grid-static-col {
			white-space: nowrap;
			// overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.form-grid {
		.row-check,
		.row-index {
			display: flex;
			align-items: center;
			line-height: 1;
			height: unset !important;
			min-width: var(--grid-row-height) !important;
			padding: 0px 8px !important;
		}
		.editable-row {
			.row-check,
			.row-index {
				height: unset !important;
				padding: 0px 8px !important;
			}
		}
	}

	// @include media-breakpoint-down(md) {
	// 	.form-grid-container:not(:focus-within) {
	// 		overflow-x: scroll;
	// 	}
	// 	.form-grid {
	// 		min-width: 600px;
	// 	}
	// }

	// fix: Disable clicks on modal backdrop if not shown
	body > .modal-backdrop:not(.show) {
		pointer-events: none;
	}

	// fix(grid): Force row height (?)
	.grid-static-col,
	.row-check,
	.row-index {
		height: var(--grid-row-height);
	}

	// fix(grid): Increase size of Code fields
	.grid-static-col[data-fieldtype="Code"],
	.grid-static-col[data-fieldtype="HTML Editor"] {
		padding: 0px !important;

		.static-area {
			height: 100%;
			margin: 0 !important;

			pre {
				margin: 0px;
				padding: 4px !important;
			}
		}
	}
	// .grid-static-col[data-fieldtype="Text Editor"] {
	// 	padding: 0px;
	// }

	// fix(grid): Increase click-zone of "edit" button
	.grid-body .btn-open-row {
		width: 100%;
		text-align: center;
	}

	.form-in-grid .btn {
		box-shadow: var(--btn-shadow);
	}

	// fix: Ensure page layout remains intact with `position: sticky;`
	// .main-section {
	// 	width: 100% !important;
	// 	height: 100% !important;
	// }
	// .main-section > .sticky-top {
	// 	position: fixed;
	// 	width: 100%;
	// }
	// .body-sidebar-container {
	// 	position: sticky;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1021;
	// }
}

// feat(form): Sticky form sidebar
// TODO: make it work without overflow when content is longer than page height
// .form-sidebar {
// 	--y: calc(var(--page-head-height) + var(--navbar-height));
// 	position: sticky;
// 	top: var(--y);
// 	max-height: calc(100vh - var(--y));
// 	// overflow-y: auto; // breaks popovers
// }

// .avatar-frame.standard-image {
// 	box-shadow: 0 0 3px -1px currentColor;
// 	font-weight: bold;
// 	display: grid !important;
// 	justify-content: stretch;
// 	text-align: center;
// }

// .like-action.not-liked {
// 	--icon-fill: var(--text-light);
// 	--icon-stroke: var(--text-light);
// }
// .like-action:is(.liked,:hover) {
// 	--icon-fill: var(--pink);
// 	--icon-stroke: var(--pink);
// }

// .tabulator--loading {
// 	cursor: progress;
// 	filter: saturate(0) blur(2px);
// }

// .ql-editor {
// 	overflow: auto !important;
// }

// .tab-pane > .row:last-child,
// .tab-pane > .row:not(:has(~ :not(.empty-section))) {
// 	border-bottom-width: 0px !important;
// }

// .btn-default.btn-primary .btn-default.btn-danger,
// .btn-default.btn-success,
// .btn-default.btn-secondary,
// .btn-default.btn-secondary-dark,
// .btn-secondary.btn-primary .btn-secondary.btn-danger,
// .btn-secondary.btn-success,
// .btn-secondary.btn-secondary-dark,
// .btn-default.btn-secondary-dark {
// 	background: magenta !important;
// 	color: cyan !important;
// 	font-size: 20px !important;
// }
