.color-picker {
	--swatch-size: 20px;
	--swatch-margin: 10px;
	--columns: 7;
	--color-picker-width: calc(
		var(--swatch-size) * var(--columns) + var(--swatch-margin) * (var(--columns) - 1)
	);

	width: var(--color-picker-width);

	&,
	.swatch-section {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.swatches {
		display: grid;
		grid-template-columns: repeat(var(--columns), var(--swatch-size));
		grid-auto-rows: var(--swatch-size);
		gap: var(--swatch-margin);
	}

	.swatch {
		border-radius: 99px;
		cursor: pointer;

		&.selected {
			box-shadow: inset 0 0 0 2px var(--fg-color), 0 0 0 2px currentColor;
		}
	}

	.section-title {
		font-size: var(--text-sm);
		font-weight: 600;
		color: var(--text-muted);

		line-height: 1.2;
		margin-bottom: -5px;
	}

	.color-selector,
	.hue-selector {
		width: 12px;
		height: 12px;
		background: transparent;
		position: absolute;
		border-radius: 50%;

		// inside white border
		box-shadow: inset 0 0 0 2px white;

		// outside dark shadow
		border: 1px solid rgba(0, 0, 0, 0.2);

		// inside dark shadow and inner color
		&::before {
			position: absolute;
			content: " ";
			border-radius: 50%;
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			background-color: currentColor;
			border: inherit;
			top: 2px;
			left: 2px;
		}
	}

	// outside zoom of the color
	.color-selector {
		&::after {
			position: absolute;
			content: " ";
			z-index: 1;

			background-color: currentColor;
			border: 1px solid rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 0 0 1.5px rgba(255, 255, 255, 0.9), var(--shadow-lg);

			border-radius: 50% 50% 50% 2px;
			right: -36px;
			top: -36px;
			width: 36px;
			height: 36px;

			transition: opacity 0.1s ease, transform 0.1s ease;
			transform-origin: bottom left;
		}

		/* hide when not hover/active */
		&:not(:hover):not(:active)::after {
			opacity: 0;
			transform: scale(0);
			transform-origin: bottom left;
		}
	}

	.hue-selector {
		width: 14px;
		height: 14px;
	}

	.color-map {
		color: transparent;
		position: relative;
		width: auto;
		height: 140px;
		/* background: linear-gradient(0deg, black, transparent), linear-gradient(90deg, white, transparent), red; */
		border-radius: 6px;

		&:active::after {
			/* catch mouseup outside the map to prevent closing the picker after a wide drag */
			content: " ";
			position: absolute;
			inset: 0;
			margin: -128px;
			z-index: -1;
		}
	}

	.hue-map {
		color: transparent;
		width: auto;
		height: 14px;
		position: relative;
		background: linear-gradient(
			90deg,
			hsl(0, 100%, 50%),
			hsl(60, 100%, 50%),
			hsl(120, 100%, 50%),
			hsl(180, 100%, 50%),
			hsl(240, 100%, 50%),
			hsl(300, 100%, 50%),
			hsl(360, 100%, 50%)
		);
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}
}

.color-picker-popover {
	.picker-arrow {
		left: 15px !important;
	}
}

.frappe-control[data-fieldtype="Color"] {
	input {
		padding-left: 32px;
	}

	.control-input {
		position: relative;
	}

	.selected-color {
		cursor: pointer;
		width: 16px;
		height: 16px;
		border-radius: 5px;
		background-color: red;
		position: absolute;
		top: 6px;
		left: 8px;
		content: " ";

		transition-duration: 0.1s;

		&.no-value {
			background: url("/assets/frappe/images/color-circle.png");
			background-size: contain;
		}
	}

	.like-disabled-input {
		.color-value {
			padding-left: 26px;
		}

		.selected-color {
			cursor: default;
		}
	}
}

.data-row.row {
	.selected-color {
		top: calc(50% - 11px);
		z-index: 2;
	}
}
