.form-control {
	// Specificity hack to override bootstrap
	:root & {
		background-color: var(--control-bg);
		color: var(--text-color);
	}
	box-shadow: none;

	height: var(--input-height);
	font: inherit;
	@include get_textstyle("base", "regular");
	border-radius: var(--border-radius);
	padding: var(--input-padding);

	position: relative;

	&::placeholder {
		color: var(--gray-500);
	}
}

.form-control.bold {
	font-weight: var(--weight-medium);
}

.like-disabled-input {
	.for-description {
		@include get_textstyle("sm", "regular");
	}
	min-height: var(--input-height);
	// margin-bottom: 7px;
	// color: var(--disabled-text-color);
	font-weight: var(--weight-regular);
	border-radius: var(--border-radius-sm);
	padding: 4px 8px;
	cursor: default;
	background-color: var(--disabled-control-bg);
}

.head-title {
	font-size: var(--text-xl);
	font-weight: 700;
	color: var(--heading-color);
}
