<div class="web-list-item">
	<div class="row">
		<div class="col-sm-7">
			<a class="no-underline" href="/{{ doc.route }}">
				{{ doc.title }}
			</a>
			<div class="small">
				{{ _("Created on")}} {{ frappe.format_date(doc.creation) }}
			</div>
		</div>
		<div class="col-sm-5">
			<span class="help-category-label indicator-pill {{ get_level_class(doc.level) }}">
				{{ _(doc.level) }}
			</span>
		</div>
	</div>
</div>
